<!DOCTYPE html>
<HTML lang="en">

<head>
	<title>HBNB</title>
</head>

<body>
	{% if current_route == "route_states" %}
	<h1>States</h1>
	<ul>
		{% for state in states.values()|sort(attribute='name') %}
		<li>{{ state.id }}: <b>{{ state.name }}</b></li>
		{% endfor %}
	</ul>
	{% elif current_route == "route_cities" %}
	<h1>State: {{ state.name }}</h1>
	<h3>Cities:</h3>
	<ul>
		{% for city in state.cities|sort(attribute='name') %}
		<li>{{ city.id }}: <b>{{ city.name }}</b></li>
		{% endfor %}
	</ul>
	{% else %}
	<h1>Not found!</h1>
	{% endif %}
</body>

</html>